@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.4%;
}
img {
    width: 100%;
}

/* .container {
    transition: 0.3s;
} */

.title_box {
    width: 90%;
    height: 40px;
    /* background-color: aquamarine; */
    margin: 0 auto;
    position: relative;
}
h1 {
    color:  palevioletred;
    /* text-shadow: 1px 0 0 #222,0 1px #222,-1px 0 0 #222,0 -1px 0 #222; */
    font-size: 2.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title {
    display: block;
}

@media(max-width: 400px){
    h1 {
        color:  palevioletred;
        text-shadow: 1px 0 0 #222,0 1px #222,-1px 0 0 #222,0 -1px 0 #222;
        font-size: 1.8rem;
    }
}


/* .title_bg {
    color:  palevioletred;
    font-size: 3.2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.title_white {
    color:  white;
    font-size: 3.0rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
} */

.main__container{
    margin-top: 40px;
}

/* 共通 画像 */
.img_box-syouwa,
.img_box-heisei,
.img_box-reiwa {
    position: relative;
    width: 500px;
    height: 500px; /* ← 親要素の高さを明示しないとb、その結果、position: absolute の .randomWord が基準を見失って、bodyからの位置になってしまう、という流れ。 */
    background-color: #eee;
    margin: 0 auto;
   
}

/* syouwa    section */
#syouwa__sec {
    display: none;
}
.young_img-syouwa {
    width: 500px;
    height: 500px;
    background-image: url(../images/syouwa_girls_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0 auto;
}

/* heisei    section */
#heisei__sec {
    display: none;
}
.young_img-heisei {
    width: 500px;
    height: 500px;
    background-image: url(../images/heisei_girls_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0 auto;
}

/* reiwa    section */
#reiwa__sec {
    display: block;
}
.young_img-reiwa {
    width: 500px;
    height: 500px;
    background-image: url(../images/reiwa_girls_1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin:0 auto;
}




/* hayari   word */
.randomWord {
    background-color: rgba(231, 89, 231, 0.6);
    width: 80%;
    height: 40%;
    border-radius: 50% 70%/50% 50% 70% 60%;
    /* z-index: 1; */
    position: absolute;
    bottom: 2%;
    left: 10%;
    border: 10px dotted rgb(236, 36, 113);


    outline: 10px dotted rgb(240, 146, 64);    
    outline-offset: 2px;   
}

.question {
    font-size: 3.2rem;
    color: #222;
    text-align: center;
}

#btn {
    width: 80px;
    height: 80px;
    background-color: rgba(211, 3, 86,0.9);
    margin: 20px auto;
    display: block;
    border-radius: 50%;
    cursor: pointer;
}

.random_message{    /* 文字が変わるよ */
    color: #dfdf00;
    position: absolute;
    top: 70%;
    left: 12%;
    font-size: 3.4rem;
}


.year {
    display: block;
    width: 100%;
    text-align: center;
    background-color: rgb(5, 1, 45);
    color: #eee;
    font-size: 2.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
}
